/* General styling */
.App {
  height: 80vh;
  background: cornsilk;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container for the form */
#formContainer {
  background-color: lightblue;
  display: flex;
  width: 500px;
  height: 500px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  justify-items: center;
  border-radius: 8px;
}

/* Error message styling */
.er {
  color: red;
  text-align: left;
  font-size: small;
}

/* Input element styling */
.i {
  padding: 15px; /* Add padding for better appearance */
  border-radius: 5px;
  border: 1px solid gray; /* Add a border to the input */
  box-sizing: border-box;
  width: 300px;
  /* Include padding and border in element's width */
}

/* Heading styling */
h2 {
  color: black;
  text-align: center;
}

/* Button styling */
button {
  border-radius: 5px;
  padding: 15px;
  border: none;
  cursor: pointer;
  color: whitesmoke;
}

/* Login and sign-up buttons */
#toggleButtons button {
  background-color: #4caf50;

  /* Color for the login and sign-up buttons */
}

/* Button for login and sign-up */

#signUpForm button {
  background-color: #4caf50;
}
