/* Navbar.css */
.navbar {
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  margin: 5px;
  margin-bottom: 20px;
  border-radius: 8px; /* Rounded corners */
}

.navbar ul {
  display: flex; /* Flexbox layout */
  flex-direction: row; /* Arrange items as columns */
  list-style: none; /* Remove list style */
  justify-content: space-around;
  align-items: center;
}

.navbar a,
.navbar button {
  color: white; /* Text color */
  text-decoration: none; /* Remove underline from links */
  border: none; /* No border on button */
  background: none; /* No background on button */
  cursor: pointer; /* Pointer cursor on button */
}

.navbar a:hover,
.navbar button:hover {
  text-decoration: underline; /* Underline on hover */
}
